<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.Mobile.master.cs" Inherits="STMAAgent.Site_Mobile" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <asp:ContentPlaceHolder runat="server" ID="HeadContent" />
</head>
<body bgcolor="#bedcf4" >

    <div>
        <h1 align="center">AAM Diagnostics</h1>
        <asp:ContentPlaceHolder runat="server" ID="FeaturedContent" />
        <section class="content-wrapper main-content clear-fix">
            <asp:ContentPlaceHolder runat="server" ID="MainContent"></asp:ContentPlaceHolder>
        </section>
        <br />
        <br />
    </div>
</body>
</html>
